:root {
  --primary-color: #020202;
  --secondary-color: #f5f5f5;
  --accent-color: #ddd;
  --blue-accent: #0075ff;
}

.partnership-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 200px 20px;
  color: var(--secondary-color);
}

.partnership-title {
  font-size: 70px;
  text-align: center;
  margin-bottom: 20px;
}

.highlight {
  color: var(--blue-accent);
}

.partnership-description {
  text-align: center;
  margin-bottom: 40px;
  font-size: 28px;
}

.partnership-form {
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 30px;
  color: black;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form-options label {
  margin-left: 15px;
}
.needs-group {
  margin-bottom: 30px;
}

.needs-group > label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

.needs-options {
  display: flex;
  gap: 10px;
  font-weight: 400;
}

.needs-options input[type="radio"] {
  display: none;
}

.needs-option {
  flex: 1;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 400 !important;
}

.needs-options input[type="radio"]:checked + .needs-option {
  background-color: var(--blue-accent);
  color: white;
  border-color: var(--blue-accent);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none !important;
}

.form-group textarea {
  height: 100px;
}

.submit-button {
  width: 100%;
  padding: 15px;
  background-color: var(--blue-accent);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: var(--blue-accent);
}

@media screen and (max-width: 1100px) {
  body {
    font-size: 12px;
  }

  .partnership-container {
    padding: 120px 20px;
  }

  .partnership-title {
    font-size: 48px;
  }

  .partnership-description {
    font-size: 16px;
  }

  .submit-button {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .partnership-title {
    font-size: 32px;
  }

  .partnership-description {
    font-size: 14px;
  }
}
